@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:wght@400;600&family=Roboto:wght@500;700;900&family=Sen:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sen', sans-serif;
}


#Progress {
  width: 100%;    
  background-color: black;
}

#progressBar {
  width: 1%;
  height: 40px;
  background-color: orange;
  text-align: center;
  line-height: 40px;
  color: white;
}
.content{
  display: none;
}
/* link[rel="icon"] {
    border-radius: 50%;
  } */
body {
  background-color: #ccc;
  scroll-behavior: smooth;
}


.social-icon {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.social-icon i {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.social-icon .fa:hover {
  font-size: 2rem;
}

.social-icon .fa-snapchat-ghost:hover {
  color: #FFFC00;

}

.social-icon .fa-instagram:hover {
  background: -webkit-linear-gradient(#f9ce34, #ee2a7b, #6228d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-icon .fa-twitter:hover {
  color: #26a7de;

}

.social-icon .fa-facebook:hover {
  color: #3B5998;

}

.social-icon .fa-pinterest-p:hover {
  color: red;

}

.social-icon .fa-linkedin:hover {
  color: #0A66C2;

}

.container {
  /* padding-top: 20px; */
  font-size: 1.5rem;

}

nav h5 {
  background: -webkit-linear-gradient(#0A66C2, silver);
  font-weight: 800;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 62px;
  font-size: larger;
  text-align: center;
  color: #fff;
}

.villan {
  color: #fff;
  text-align: justify;
  text-transform: uppercase;
}

.villan h1 {
  font-size: 3vw;
  font-weight: 600;
}

.villan #element{
  font-size: 4vw;
  font-weight: bold;
  background: -webkit-linear-gradient(#0A66C2, silver);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero {
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  align-items: center;

}


.grandvillan img {
  height: 400px;
  filter: brightness(20%);
  filter: contrast(200%);
}
.grandvillan img:hover{
  /* filter: drop-shadow(5px 5px 5px white); */
}
nav {
  /* position:fixed; */

  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 22px 24px;
}

nav ul {
  display: flex;
  justify-content: flex-end;


}

nav ul li {
  /* text-decoration: none; */
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  /* margin-right: 16px; */
  padding: 16px;
}

nav ul li :hover {
  background-color: #ccc;
  border-radius: 10px;
  /* padding: 20px; */
  /* box-sizing: 1000px; */
  color: #000;
}

.parent {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-starts;
  align-items: center;

}

.firsttext {

  padding-top: 110px;
  padding-right: 20px;
  padding-left: 400px;

}

.firsttext .h1 #element {
  text-align: justify;


}

.data {
  background-color: white;
  border-radius: 50px;
  width: 92%;
  height: 80vh;
  margin: 40px 50px;
  padding: 32px 134px;
}

.head {
  text-align: center;
  padding: 50px 50px;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.about {

  /* padding: 70px; */

  display: flex;
  justify-content: center;
  gap: 20px;
}



.about_img img {
  width: 100%;

  /* padding: 0 40px; */
}
.about_img img:hover{
  opacity: 0.60;
}
.para {
  text-align: justify;
  padding: 50px;
}

.project {}

.card {
  /* width: 300px; */
  background-color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  overflow: hidden;
  width: 92%;

  text-transform: uppercase;

  color: #fff;
  margin: 40px 60px;
}

.header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 4vw;

}

.body {
  padding: 20px;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

}

.skill-name {
  width: 120px;
  font-size: 16px;

}

.skill-level {
  width: 50%;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  padding-right: 10px;
  background-color: #333;
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}

.outer_skill {
  width: 100%;
  height: auto;
}

.skills {
  width: 90%;
  padding: 2em 0.7em;
  margin: auto;
  height: auto;
  /* background: rgba(255, 255, 255, 0.607); */
  background: #fff;
  border-radius: 2em;
  box-shadow: 0 0rem 2rem 0 rgba(0, 0, 0, 0.196);
  /* border: 5px solid rgb(255, 0, 0); */
}

.skills h1 {
  padding: 0.4em;
  font-family: Cambria;
  font-size: 3vw;
  text-transform: uppercase;
  z-index: 12;
  text-align: center;
  letter-spacing: 0.2rem;
  /* border: 1px solid rgb(5, 5, 5); */
}

.skill {
  margin-bottom: 2em;
  /* border: 1px solid #000; */
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill .mongo {
  background: linear-gradient(180deg,
      rgba(0, 200, 255, 0.211) 0%,
      rgba(0, 115, 255, 0.238) 100%);
  border-radius: 1em;
  width: 64px;
  height: 64px;
}

.skill .django {
  position: relative;
  left: 22px;
  top: 10.4px;
  border-width: 2.5px;
  border-style: solid;
  border-image: linear-gradient(to top, #0072ff, #00c6ff) 1;
  background: linear-gradient(to top, #00c6ff 30%, #0072ff 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1em;
  font-weight: 900;
  width: 49px;
  height: 49px;
  margin: 0em 0em 3em 0em;
  padding: 1.5em 0em;
  text-align: center;
  display: inline-block;
  /* border: 1px solid #000; */
}

.skill span.name {
  /* border: 1px solid #000; */
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 1.6rem;
}

.skill span.skill_span {
  /* border: 1px solid #000; */
  margin: 1.5em;
  padding: 0.5em 0em;
  border-radius: 1em;
  /* transition: left 0.5s, opacity 0.5s; */
  opacity: 1;
  width: 20%;
  box-shadow: 0.3rem 0.3rem 0.6rem #0f1011, -0.2rem -0.2rem 0.5rem white;
  position: relative;
}

.skill img {
  display: block;
  /* border: 1px solid #000; */
  width: 70px;
  margin: auto;
}

.project {
  width: 90%;
  margin: 40px 65px;
  padding: 50px;
  background-color: #000;
  border-radius: 25px;
}

.tproject {
  color: #fff;
  text-align: center;
  /*     padding: 40px; */
  margin: 9px 35px 61px 16px;
  font-weight: 700;
  font-size: 4vw;
}

.aproject {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.scard {
  position: relative;
  width: 220px;
  height: 320px;
  background: mediumturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.scard::before,
.scard::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #00c6ff;
  color: #fff;
  transition: all 0.5s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scard img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.scard::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.scard::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.scard:hover::before,
.scard:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.scard:hover:after {
  text-align: center;
  letter-spacing: 3px;
  content: "Project (Html,Css,Js)";
}

.tcontainer {
  /* position: absolute; */
  width: 100%;
  top: 50%;
  /* transform: translateY(-50%); */
  /* padding: 0 20px; */
}

.fhead {
  text-align: center;
  font-size: 45px;
  padding: 33px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 3px;
}

.form-feild {
  background: #eee;
  margin: 0 auto;
  max-width: 600px;
  padding: 67px;
  border-radius: 9px;
  display: flex;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  /* margin-right: s; */
}

.input-feild.placeholder {
  color: #fff;
}

button {
  letter-spacing: 2px;
  border-radius: 4px;
  display: block;
  color: aqua;
  background: #666;
  padding: 10px;
  width: 50%;
  cursor: pointer;
  box-shadow: 4px 4px 4px 3px rgb(141, 71, 141);
  margin: 0 auto;
  text-align: center;
}

.input-feild .input {
  background: transparent;
  color: Black;
  letter-spacing: 5px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid aqua;
  padding: 10px;
  margin: 10px 20px;
  width: 100%;

}

::webkit-input-placeholder {
  color: aquamarine;
}

::moz-input-placeholder {
  color: aquamarine;
}

button:hover {
  color: orange;
  background-color: cyan;
}



.footer {
  background-color: #000;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;

}

.footer .about span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /* background-color: #33383b; */
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  /* background-color: #33383b; */
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #fff;
  font-size: 26px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;

}

.footer .menu {
  color: #fff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

#msg {
  /* padding: 150px; */
  /* margin-bottom: 30px; */
  /* text-indent: 10px */
  float: right;
  color: lightgreen;
  /* padding: 30px 196px */
}

 .Navbar__Link-toggle {
  display: none;
  content: none;
} 

@media screen and (max-width: 1024px) {
  .Navbar__Link-toggle{
    display: none;
  }

  

}




@media (max-width: 767px) {
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: flex;
    justify-content: end;
    /* position: absolute; */
    cursor: pointer;

  }

  nav ul {
    display: none;
  }

  /* nav{
    width: 100%;
  } */
  /* Show the navigation links when the toggle link is clicked */
  nav ul.Navbar__ToggleShow {
    display: block;
    flex-direction: column;
    /* position: relative; */
    /* width: 100%; */
    /* background-color: #000; */
    /* height: 800px; */
    position: fixed;
    top: 175px;
    line-height: 45px;
    padding: 100px 10px;
    left: 0;
    width: 100%;
    letter-spacing: 2px;
    height: 8vh;
    background-color: #fff;
    display: flex;
    /* flex-wrap: wrap; */
    z-index: 1;
    justify-content: center;
    align-items: center;
  }

  /* nav a.Navbar__Toggle{
      color: #fff;
    } */
  .footer {
    font-size: 14px;
  }

  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer .footer-center i {
    margin-left: 0;
  }

  nav a {
    margin-left: 0;
    /* color: #fff; */
  }

  .data {
    background-color: white;
    border-radius: 50px;
    /* margin-left: 0; */
    /* margin-right: 0; */
    width: 87%;
    height: auto;
    /* margin: 40px 50px; */
    padding: 32px 100px;
  }

  .project {
    width: 80%;
  }

  .aproject {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 86%;
  }

  .head {
    text-align: center;
    padding: 50px 50px;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .about {

    /* padding: 70px; */

    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-direction: column;
  }

  .about_img {
    display: flex;
    justify-content: center;

  }

  .about_img img {
    width: 40%;

    /* padding: 0 40px; */
  }

  .para {
    text-align: justify;
    padding: 50px;
  }

  @media screen and (max-width:600px) {
    .nav ul.Navbar__ToggleShow {
      padding: 120px;
    }

    .footer {
      font-size: 14px;
    }

    .form-feild {
      width: 100%;
      padding: 20px 40px;
    }

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }

    .footer .footer-center i {
      padding: 11px 61px;
      margin-left: 0px;
    }

    .social-icon {
      /* width: 100%; */
    }

    .nav {
      width: 100%;
    }

    .villan h1 {
      font-size: 25px;
    }

    .villan #element {
      font-size: 30px;
    }

    .hero {
      flex-direction: column;
      padding: 70px 40px;
    }

    .grandvillan img {
      /* width: 100%; */
      height: 200px;
    }

    .data {

      margin: 20px 0;
      width: 100%;
      padding: 0 20px;
    }

    .header {
      font-size: 30px;
    }

    .tproject {
      font-size: 30px;
    }

    .fhead {
      font-size: 20px;
    }

    .about_img img {
      width: 100%;
    }

    .outer_skill {
      display: none;
    }

    .card {
      width: 100%;
      margin: 20px 0;
      height: auto;
      padding: 10px 0;

    }

    .project {
      margin: 20px 0;
      width: 100%;
    }
  }

  .para {
    padding: 20px;
  }
}

@media screen and(max-Width:1024px) {
  .Navbar__Link-toggle {
    display: none;
  }

}
